<?xml version="1.0"?>

<model>
  <name>turtlebot3_lane</name>
  <version>1.0</version>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>Chinmay Samak</name>
    <email>csamak@clemson.edu</email>
  </author>

  <author>
    <name>Tanmay Samak</name>
    <email>tsamak@clemson.edu</email>
  </author>

  <description>
    A lane textured plane.
  </description>

</model>
