<?xml version="1.0" ?>
<model>
    <name>apriltag</name>
    <version>0.1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Chinmay Samak</name>
        <email>csamak@clemson.edu</email>
    </author>
    <author>
        <name>Tanmay Samak</name>
        <email>tsamak@clemson.edu</email>
    </author>
    <description>AprilTag robot for AuE8230 capstone project world</description>
</model>
